---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroBackground from "../components/HeroBackground.astro"
---
<BaseLayout title="Case Study">
        <HeroBackground surface="case" tag="CASE STUDIES SINGLE" headline="Taxes & Efficiency"/>
        <h3>Project Overview</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aut aperiam suscipit ipsum non, voluptatem laborum vitae, id tempora quidem possimus quis porro dicta consequatur maiores voluptatibus saepe corrupti molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ut adipisci libero dicta, animi mollitia fugiat suscipit soluta neque ratione excepturi molestias veniam asperiores voluptate ab quia vero. Quidem, aut!</p>
</BaseLayout>

