<footer>
    <div class="newsletter">
        <div class="text">
            <h2>Subscribe To Our Newsletter</h2>
            <p>Build stronger customer relationships with consulttalk </p>
        </div>
        <div class="sign-up">
            <input class="newsletter-input" placeholder="Your emil adress" type="email" id="text" required/>
            <a href="#" class="btn-secondary">Subscribe</a>
        </div>
    </div>
    <div class="footer">
        <div class="footer-logo">
            <a href="/" class="footer-logo">AskExperts</a>
        </div>
        <div class="footer-copyright">
            <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
        </div>
    </div>
</footer>

<style>
    @layer global {
    /*
    * Newsletter component
    */
    html {
        --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
    }
      footer {
        .newsletter {
          background: var(--tertiary-color);
          display: flex;
          justify-content: space-between;
          padding: 5.5rem;
          position: relative;
          border-radius: 30px;
          overflow: hidden;
          align-items: center;
    
          max-width: 1200px;
          margin: 0 auto;
          margin-bottom: 9rem;
    
        &:before {
          opacity: 0.6;
          transform: rotate(40deg);
          --square-count: 14;
          --square-size: 1.34rem;
          --_square-size: var(--square-size, 1rem);
          --_square-half: calc(var(--square-size) / 2);
          --_square-sum: calc(var(--square-count)* var(--square-size));
          z-index: 2;
          content: "";
          position: absolute;
          inset: -150px -100px auto auto;
          inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
          aspect-ratio: 1;
          background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B, #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
          mask: var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size), var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
        }
    
        &:after {
          content: "";
          position: absolute;
          background: var(--secondary-color);
          width: 150px;
          height: 200px;
          border-radius: 20px;
          z-index: 2;
          right: -40px;
          bottom: -120px;
          transform: rotate(45deg);
        }
    
      
          & h2, p {
              color: var(--white-color);
          }
            .sign-up {
                z-index: 3;
                input {
                    border-radius: 100px;
                    background: var(--white-color);
                    padding: 18px;
                    width: 310px;
                    z-index: 10;
                } 
          }
        }
        .footer {
          padding: 2.9rem;
          background: var(--heading-color);
          color: var(--white-color);
          text-align: center;
          .footer-logo {
            padding-bottom: 2.25rem;
            margin-bottom: 2.2rem;
            border-bottom: 1px solid #707070;
            a {
              font-size: 1.5rem;
            }
          }
        }
      }

    }
    
    
    </style>
    









